<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.SupplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.example.entity.dto.Supply">
        <id column="supply_id" property="supplyId" />
        <result column="supplier_id" property="supplierId" />
        <result column="good_id" property="goodId" />
        <result column="supply_number" property="supplyNumber" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        supply_id, supplier_id, good_id, supply_number, create_time, status, deleted
    </sql>

</mapper>
